<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Task editor</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
</head>
<body>
<div class="container">


    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Работа с заданиями</h2>
        </div>
        <div class="panel-body">
            <div class="panel panel-primary">
                <ul class="list-group">
                    <li class="list-group-item">
                        Название проэкта: <i th:text="${currentTask.name}"></i>
                    </li>
                    <li class="list-group-item">
                        Проэкт #: <i th:text="${currentTask.id}"></i>
                    </li>
                </ul>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>Подзадачи</h2>
                </div>
                <div class="panel panel-success">
                    <table class="table table-striped">
                        <tr>
                            <th>#</th>
                            <th>Исполнитель</th>
                            <th>Задача</th>
                            <th>Цвет</th>
                            <th>Комментарии</th>
                            <th>Принят</th>
                        </tr>
                        <tbody>
                        <tr th:each="subtask,iter: ${currentTask.subtasks}">
                            <td th:text="${iter.index}"></td>
                            <td th:text="${subtask.contractor}"></td>
                            <td th:text="${subtask.id}"></td>
                            <td th:text="${subtask.color}"></td>
                            <td th:text="${subtask.comments}"></td>
                            <td th:text="${subtask.approved}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-danger">
                <div class="well">
                    <div class="panel-heading">
                        <h2>Редактор</h2>
                    </div>
                </div>
                <div>
                    <textarea class="form-control" rows="12"
                              style="margin-top: 10px;" placeholder="Editor...."
                              name="notes" th:inline="text">
                    </textarea>
                </div>

            </div>
        </div>
        <div class="panel-footer"></div>
    </div>

</div>
<script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>